# Node

/**/node_modules/

# Maven

/**/target/

# IntelliJ

/**/*.iml
/**/.idea/

# Eclipse

/**/bin/
/**/tmp/
/**/.classpath
/**/.metadata/
/**/.project
/**/.settings/
/**/.springBeans

.DS_Store

GPG_KEY.asc

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties